@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.over-head {
    background-color: red;
    color: white;
}

.danger-head {
    background-color: yellow;
    color: white;
}

.t_head {
    background-color: blue;
    color: white;
}
