<section class="inner">
	<h2 class="section-ttl">Are you sure you want to cancel ?</h2>
	<h3 class="text-center">If you cancel<br>you cannot browse any history anymore.<br>If you agree, press cancel.</h3>
	<div class="flex justify-around mt2">
		<%= link_to "Go back", users_path, class: "btn btn-primary" %>
		<%= link_to "Cancel", users_withdraw_path, method: :patch, "data-confirm" => "Are you sure you want to cancel?", class: "btn btn-danger" %>
	</div>
</section>
